@import 'dimensions';
@import 'transform';
@import 'media';
@import 'colors';

$n_items: 2;

body {
  box-sizing: border-box;
  background: #eee;
  font-family: Helvetica, sans-serif;
  background: #000;
  margin: 0;
  min-height: $n_items * 100vh;
}

//override defaults
th {
  font-weight: normal;
}
p,
span,
div,
th,
td,
input {
  font-size: 14px;
}
p,
span,
th,
td {
  padding: 5px $text-horizontal-padding;
}

input {
  padding: 0.2em 0.5em;
}

/* h1, h2, h3, h4 { */
/*     font-size: 24px; */
/* } */

@mixin primary-button() {
  font-weight: bold;
  color: $primary-color;
  max-width: 100px;
}


.primary-butotn {
  @include primary-button();
}

.page-content {
  position: relative;
  max-width: $page-content-width;
  margin: 5vh auto 25vh;
  padding: 10px 0;
}

.inner-content {
}

body .bg {
  position: relative;
  top: 0;
  width: 100vw;
  margin-bottom: 15vh;
  // background-image: url("../img/flowfield_bw.jpg");
  // &:hover {transform: scale(2);
  img {
    width: 100%;
  }
}

video {
  // object-fit: contain;
  width: 100%;
  height: auto;
}

// desktop
@media only screen and (min-device-width: 768px) {
  body .bg {
    background-image: url("../img/flowfield_bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    img {
      display: none;
    }
  }
  .page-content {
    // background: red;
  }
}

// touch
// @media (pointer:coarse) {}
